<div class="leftPart">
    <div class="naviList">
        <ul>
            <li>
                <a href="/admin/dashboard" class="rightArrow">Dashboard <span></span></a>
            </li>

            <li>
                <a href="/admin/categories" class="rightArrow">Categories <span></span></a>
            </li>
             <li>
                <a href="/admin/products" class="rightArrow">Products <span></span></a>
            </li>
            <li>
                <a href="/admin/orders" class="rightArrow">Orders <span></span></a>
            </li>
            @*<li>
                <a href="javascript:void(0)" class="rightArrow">Manage Setting <span></span></a>
                <ul class="subnav">
                    <li><a href="/admin/changepassword">Change Password</a></li>
                </ul>
            </li>*@
        </ul>
    </div>
</div>
